/* login.css */

/* Kontainer form login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Menata judul halaman */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

/* Menata setiap input grup */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #F8EDED;
}

.input-group input:focus {
    border-color: #4DA8DA;
    outline: none;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: 0px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin: 0;
    vertical-align: middle;
}

/* Menata tombol login */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #4DA8DA;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #375a74;
}

/* Menata tautan "Belum punya akun?" */
.login-container a {
    display: block;
    text-align: center;
    text-decoration: none; /* Menghapus underline */
    color: #000; /* Warna teks */
    font-weight: normal; /* Ukuran font sedang */
    font-size: 14px; /* Ukuran font sedang */
    margin-top: 10px;
    transition: color 0.3s ease; /* Efek transisi warna */
    width: 100%;
}

.login-container a:hover {
    color: #007bff; /* Warna teks berubah saat hover */
    cursor: pointer; /* Menampilkan kursor pointer saat hover */
}
