/* Styling untuk seluruh halaman */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Kontainer form lupa kata sandi */
.forgot-password-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Menata judul halaman */
.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Menata setiap input grup */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.input-group input:focus {
    border-color: #4DA8DA;
    outline: none;
}

/* Menata tombol submit */
.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #4DA8DA;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #375a74;
}

/* Menata tautan "Login" dan "Daftar" */
.forgot-password-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.forgot-password-container a:hover {
    color: #007bff; /* Warna teks berubah saat hover */
    cursor: pointer; /* Menampilkan kursor pointer saat hover */
}

.forgot-password-container .links {
    text-align: center;
    margin-top: 10px;
}

/* Media query untuk tampilan responsif */
@media (max-width: 768px) {
    .forgot-password-container {
        padding: 15px;
    }

    .forgot-password-container h2 {
        font-size: 1.5rem;
    }

    .input-group input {
        font-size: 0.9rem;
    }

    .btn-submit {
        font-size: 0.9rem;
    }
}
